<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiveSplit.Minecraft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LiveSplit.Minecraft.Properties.Settings>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavesPath" serializeAs="String">
                <value>not_set</value>
            </setting>
            <setting name="AutosplitterEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResetOnCreation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartOnJoin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitOnCredits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Advancements" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>False:minecraft:nether/root</string>
                        <string>False:minecraft:nether/find_fortress</string>
                        <string>False:minecraft:nether/distract_piglin</string>
                        <string>False:minecraft:nether/obtain_blaze_rod</string>
                        <string>False:minecraft:story/follow_ender_eye</string>
                        <string>False:minecraft:end/root</string>
                        <string>False:minecraft:story/mine_diamond</string>
                        <string>False:minecraft:adventure/arbalistic</string>
                    </ArrayOfString>
                </value>
            </setting>
        </LiveSplit.Minecraft.Properties.Settings>
    </userSettings>
</configuration>